{#
/**
 * @file payout.html.twig
 * Default theme implementation to present Payout data.
 *
 * This template is used when viewing Payout pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_payout()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('payout') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
